header {
    top: 0px;
    position: sticky;
    width: 100%;

    .header-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1254px;
        padding: 10px 22px;

        h1 {
            color: #fff;
            font-size: 20.7px;
            font-weight: normal;
            letter-spacing: 0.7px;
            text-transform: capitalize;
        }
    }
}
