.card-wrapper {
    padding: 24px;
    border: solid 1px #202534;
    border-radius: 12px;

    &--header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        p {
            padding: 0px !important;
        }

        .stopped {
            color: #d22;
        }

        .completed {
            color: lawngreen;
        }

        .development {
            color: yellowgreen;
        }
    }

    p {
        color: #fff;
        font-size: 12px;
        padding: 2px 12px;
        border-radius: 8px;
        text-transform: capitalize;

        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
    }

    .project-type {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        p {
            background-color: #e64e2d;
        }
    }

    .methods {
        align-items: center;
        display: flex;
        gap: 12px;
        margin-top: 12px;

        p {
            background-color: #64ffda;
            text-transform: uppercase;
        }

        .get {
            background: #d1fae5;
            color: #047857;
        }
        .post {
            background: #dbeafe;
            color: #1d4ed8;
        }
        .put {
            background: #fef9c3;
            color: #a16207;
        }
        .delete {
            background: #fee2e2;
            color: #b91c1c;
        }
    }

    .technologies {
        align-items: center;
        display: flex;
        margin-top: 12px;
        color: #fff;
        gap: 12px;
        width: 100%;

        p {
            padding: 0px;
            -webkit-line-clamp: 1;
        }
    }

    .description {
        border-top: solid 1px #64ffda;
        border-bottom: solid 1px #64ffda;
        margin-top: 12px;
        padding: 10px 0px;

        p {
            padding: 0px;
            -webkit-line-clamp: 4;
        }
    }

    .url {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 12px;
        height: max-content;

        a {
            display: block;
            width: 100%;
        }

        .url-item:last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }
    }
}
