.custom-console {
    position: fixed;
    padding: 12px;
    background-color: rgba(10, 16, 29, 0.8);
    border-left: solid 1px #202534;
    top: 0px;
    right: 0px;
    height: 100%;
    z-index: 99;
    width: 406px;

    .console-header {
        background-color: #242424;
        color: #aaa;
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        border-bottom: 1px solid #333;
    }
}
