// ========== custom input ========== //
.input {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 1.5rem;

    > div {
        align-content: start;
        display: flex;
        font-size: 11px;
        justify-content: space-between;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        .error-message {
            color: #d22;
        }
    }

    input {
        border: solid 1px #202534;
        background-color: rgba(128, 128, 128, 0.0784313725);
        border-radius: 8px;
        color: #fff;
        font-size: 0.876rem;
        outline: none;
        padding: 10px 12px;
        width: 100%;

        &::placeholder {
            text-transform: capitalize;
        }
    }
}
