.loader {
    max-width: 120px !important;
    height: 6px;
    border-radius: 20px;
    background:
        repeating-linear-gradient(135deg, #64ffda 0 10px, #64ffda 0 20px) 0/0% no-repeat,
        repeating-linear-gradient(135deg, #0f121e8c 0 10px, #1a1f2e 0 20px) 0/100%;
}

@keyframes l3 {
    100% {
        background-size: 100%;
    }
}
