// ========== skills ========== //
.skill-card {
    border-radius: 12px;
    border: solid 1px #202534;
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    gap: 14px;
    padding: 24px;

    .skill-card--content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media screen and (max-width: 445px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .skill-item {
            align-items: center;
            border-radius: 8px;
            border: solid 1px #202534;
            background-color: #80808014;
            cursor: default;
            display: flex;
            gap: 10px;
            padding: 10px 12px;
            text-wrap: nowrap;
            width: 100%;

            &--icon {
                svg {
                    color: rgb(0, 195, 255);
                }
            }

            &--description {
                p {
                    color: #fff;
                    font-size: 12.5px;
                    text-wrap: nowrap;
                }

                span {
                    color: #7c8799;
                    font-size: 11px;
                }
            }

            &:hover {
                border-color: #64ffda;
                box-shadow: 0 0 14px #64ffdb8f;
            }
        }

        .skill-item:last-child:nth-child(odd) {
            grid-column: 1 / -1;
        }
    }
}
