@font-face {
    font-family: "FiraCode";
    src: url("./FiraCode-VariableFont_wght.ttf");
}

@font-face {
    font-family: "section-title";
    src: url("./wotfard-regular-webfont.0ize3.jj45sc8.woff2");
}
