.about-page {
    section {
        max-width: 1454px;
        margin: 0 auto;
        padding: 10px 22px;

        .skill-section {
            &--header {
                margin-bottom: 22px;

                h1 {
                    color: #fff;
                    font-size: 2rem;
                    font-weight: normal;
                    text-transform: lowercase;

                    span {
                        color: #c778dd;
                    }
                }
            }

            &--content {
                align-items: flex-start;
                display: flex;
                gap: 16px;
                justify-content: space-evenly;
            }
        }
    }
}
