.about-page {
    section {
        max-width: 1245px;
        margin: 0 auto;
        padding: 20px;

        // ========== section body ========== //
        .skill-section {
            &--header {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &--content {
                align-items: stretch;
                display: flex;
                gap: 16px;
            }
        }

        // ========== section body ========== //
        .contact-section {
            &--header {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &--content {
                display: flex;
                justify-content: space-between;
                gap: 32px;
            }
        }
    }
}
