.home-page {
    section {
        max-width: 1454px;
        margin: 0 auto;
        padding: 10px 22px;

        .section-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 22px;

            h1 {
                color: #fff;
                font-size: 2rem;
                font-weight: normal;
                text-transform: lowercase;

                span {
                    color: #c778dd;
                }
            }

            a {
                color: #fff;
                transition: 0.17s ease-in-out;

                &:hover {
                    color: #c778dd;
                }
            }
        }

        .project-list {
            align-items: flex-start;
            display: flex;
            gap: 16px;

            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            // grid-column-gap: 16px;
            // grid-row-gap: 16px;
            > div {
                flex: 1 1 25%;
            }
        }
    }
}
