.home-page {
    section {
        .section-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 28px;

            h1 {
                color: #fff;
                font-size: 2rem;
                font-weight: normal;
                text-transform: lowercase;

                span {
                    color: #c778dd;
                }
            }

            a {
                color: #fff;
                transition: 0.17s ease-in-out;

                &:hover {
                    color: #c778dd;
                }
            }
        }

        .project-list {
            align-items: flex-start;
            display: flex;
            justify-content: flex-end;
            gap: 16px;
        }
    }
}
