.project-page {
    max-width: 1245px;
    min-height: 100vh;
    margin: 0 auto;

    @media screen and (max-width: 800px) {
        padding: 0px;
    }

    section {
        padding: 20px;

        .product__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 16px;
            grid-row-gap: 16px;

            @media screen and (max-width: 1060px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: 700px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        > p {
            margin-bottom: 16px;
            color: #fff;
        }
    }

    .page__filter {
        &--search {
            align-items: center;
            display: flex;
            margin-bottom: 12px;

            @media screen and (max-width: 500px) {
                flex-wrap: wrap;
            }

            .input {
                gap: 0px;
                margin: 0px;
                margin-right: 22px;
                width: 100%;

                @media screen and (max-width: 500px) {
                    margin: 0px;
                }
            }

            select {
                border: 1px solid rgba(#00fff5, 0.1);
                background-color: rgba(128, 128, 128, 0.0784313725);
                border-radius: 8px;
                color: #64ffda;
                outline: none;
                padding: 10px 12px;
                text-transform: capitalize;

                @media screen and (max-width: 500px) {
                    margin-top: 12px;
                    width: 100%;
                }

                option {
                    border: 1px solid rgba(#00fff5, 0.1);
                    background-color: #0a101d;
                }
            }
        }

        &--type,
        &--tech {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 16px;
            margin-bottom: 16px;

            span {
                background-color: rgba(10, 16, 29, 0.8);
                border: solid 1px #202534;
                border-radius: 6px;
                color: #fff;
                font-size: 0.785rem;
                padding: 3px 18px;
                text-transform: capitalize;
                cursor: pointer;

                @media screen and (max-width: 800px) {
                    flex: 1 1 25%;
                }

                @media screen and (max-width: 500px) {
                    flex: 1 1 100%;
                }

                &:hover {
                    background-color: #80808014;
                    border-color: #64ffda;
                }
            }

            .active-filter {
                border-color: #64ffda;
                background-color: #80808014;
                box-shadow: 0 0 8px #64ffdb8f;
            }
        }
    }
}
