@use "./assets/font/font";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #282c33;
    font-family: "FiraCode";
}

main {
    margin: 0 auto;
    max-width: 1354px;
    padding: 10px 22px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
